.block-1 {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.block-2 {
    width: 100%;
    height: 510px;
    background-color: rgb(150, 252, 235);
    display: flex;  /* дозвіл на переміщення   */
    flex-direction: row; /*  переміщення з права на ліво */
    justify-content: space-between;
}
.block-3 {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left {
    width: 25%;
    height: 500px;
    background-color: rgb(237, 249, 10);
}
.right {
    width: 75%;
    height: 500px;
    background-color: rgb(137, 137, 137);
}

h1 {
    color: rgb(255, 255, 255);
}
h2{
    color: black;
    font-size: 20px;
}
h3{color: black;
font-size: 20px;}
h4{ color: black;
    font-size: 20px;}
h5{color: black;
    font-size: 20px;}
h6{color: black;
    font-size: 20px;}
    .block-4{
        width: 10%;
        height: 100px;
        background-color: black;
    }
    .block-5{
        width: 10%;
        height: 100px;
        background-color: black;

    }
.block-6{ 
    width: 10%;
    height: 100px;
    background-color: black;

}    